html {
    background: #FDFDFD;
}

h1,
h2,
h3,
h4,
div {
	font-family: "Segoe UI light", sans-serif;
}

hr{
    border-color: #a96dae;
    outline-color: #a96dae;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 150px;
}

.copyright {
	margin-bottom: 20px;
}

.photobox img {
	max-width: 100%;
}

.image{
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: 90%;
    background-size:cover; 
    background-position: center;
    transition: opacity 0.5s;
     -webkit-transition: opacity 0.5s;
    vertical-align: top;
}

.photobox img {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  cursor: pointer;
}

.photobox img:hover {
  opacity: 0.7
}


#bottom{
    height:50%;
    width: 100%;
    font-size: 0;
}

#cboxCurrent {
  visibility: hidden;
}

#vivify-logo {
    width: 50%;
}